<li>
      <%= gravatar_for user, :size => 30 %>
      <%= link_to user.nom, user %>
      <% if current_user.admin? %>
	|  <%= link_to "supprimer", user, :method => :delete, 
	:confirm => "Etes-vous sûr de vouloir supprimer cet utilisateur ?",
	:title => "supprimer #{user.nom}" %>
      <% end %>
</li>