<% if @user.errors.any? %>
  <div id="error_explanation">
    <% if @user.errors.count == 1 %>
   <h2> <%= pluralize(@user.errors.count, "erreur") %> 
        a empêché l'enregistrement de votre inscription</h2>
        <p>Merci de corriger ce champ :</p>
        <% else %>
      <h2>  <%= pluralize(@user.errors.count, "erreurs") %>
        ont empêché l'enregistrement de votre inscription</h2>
      <p>Merci de corriger ces champs :</p>
    <%end%>
        
    
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>