<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2> <%= pluralize(@user.errors.count, "erreur") %> 
        problème içi : <%= object.class.to_s.underscore.humanize.downcase %>
        </h2>
        <p>Merci de corriger avant d'enregistrer :</p>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>